.list{
    list-style: none;
    width: 30%;
    text-align: center;
    margin-left: 35%;
}

.navBar{
    background-color:darkgrey;
}
.list{
    display: flex;
    justify-content: space-between;
}
.sabList{
    display: flex;
    
}